DISCORD_TOKEN=your_discord_bot_token

CS2_RCON_HOST=127.0.0.1
CS2_RCON_PORT=27015
CS2_RCON_PASSWORD=your_rcon_password

CS2_MATCH_CONFIG_FORMAT=matchzy
CS2_MATCH_CONFIG_DIR=./match_configs
CS2_MATCH_CONFIG_TARGET_DIR=C:\CSServer\server\game\csgo\addons\counterstrikesharp\plugins\MatchZy\match_configs
CS2_MATCH_CONFIG_RCON_DIR=addons/counterstrikesharp/plugins/MatchZy/match_configs
CS2_MATCH_PLUGIN_START_CMD=matchzy_loadmatch
CS2_MATCH_PLUGIN_START_CMDS=matchzy_loadmatch
CS2_SERVER_START_SCRIPT=C:\CSServer\start.bat
CS2_SERVER_START_WORKDIR=C:\CSServer

CS2_SERVER_CONNECT_ADDR=127.0.0.1:27015
CS2_COMP_CFG_CMD=exec comp.cfg
